nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.479);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: var(--background-s);
    border: 0;
    .logo {
        margin-right: 10px;
    }
    button {
        color: var(--text-primary);
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .right {
        a {
            color: var(--text-highlight);
            .icon {
                margin: 10px;
                font-size: 25px;
            }
        }
    }
}
.theme {
    font-size: 20px;
    margin-right: 10px;
}
.resp {
    display: none;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    nav {
        .hide {
            display: none;
        }
        .show {
            position: fixed;
            top: 15%;
            left: 5px;
            a {
                display: flex;
            }
        }
        .resp {
            display: block;
        }
    }
}
