.sidebar {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 30px;
    top: 50%;
    transform: translate(-50%, -70%);
    font-size: 25px;
    a {
        color: var(--text-highlight);
        &:hover {
            color: var(--text-cyan);
        }
    }
}

@media screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}
